<!DOCTYPE html>
<html>
	<head>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script src="scripts/socket-io.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style-client.css">

	</head>
	<body>

		<img src="" alt="" id="imgTrained">
    <script src="/scripts/client-user.js"></script>

	</body>
</html>
